.wrap {
  position: relative;
}

.container {
  height: auto;
  margin: 1rem 0rem;
  cursor: pointer;
}

.container img {
  height: auto;
  width: 13rem;
  border-radius: 0.5rem;
}

.favoriteIcon {
  position: absolute;
  top: 3%;
  cursor: pointer;
}

.favoriteIcon svg {
  font-size: 25px;
}