.wrap {
  height: auto;
  margin: 1rem 0rem;
  cursor: pointer;
}

.wrap img {
  height: auto;
  width: 13rem;
  border-radius: 0.5rem;
}

.favoriteIcon {
  position: absolute;
  cursor: pointer;
}

.favoriteIcon svg {
  font-size: 25px;
}