.footer {
  position: absolute;
  padding-top: 0.5rem;
  width: 100%;
  height: 2rem;
  background-color: inherit;
}

.footer p {
  font-size: 0.8rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 1050px) {
  .footer {
    bottom: 0;
  }
}